@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
    background-color: #FFCB63;
    font-family: 'Open Sans', sans-serif;
}

main {
    width: 60%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

#column1 {
    min-width: 220px;
    flex: 1;
    order: 1;
}

#column2 {
    min-width: 450px;
    flex: 3;
    order: 2;
}

article {
    background-color: white;
    padding: 0.5em;
    margin: 1em;
    border-radius: 10px;
}

.comment_section {
    margin-top: 0em;
}

.comment {
   color: black;
}

#comment_area {
    width: 99%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    border: 2px solid lightgray;
    resize: vertical;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
}

.comment_button {
    background-color: #FF7400;
    border-width: 0px;
    padding: 0.5em;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
}

.message_heading {
    font-size: 0.8em;
    color: #9B6700;
    margin-bottom: 0.5em;
}

.post:hover {
    border: 1pt solid #9B6700;
}

figure {
    padding: 0.5em 0em 0.5em 0em;
    display: flex;
    justify-content: center;
}

figure img {
    max-height: 500px;
    max-width: 100%;
}

#sort_filter {
    padding: 1em;
}

#tags {
    height: 300px;
}

.banner {
    color: white;
    background-color: #FF7400;
    padding: 0.5em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.reglinks {
    padding: 0.5em;
    font-size: 0.8em;
}

.reglinks a:link, a:visited {
    color: royalblue;
}

h2 {
    padding-top: 1em;
}

#newpost {
    color: white;
    background-color: #C50000;
    padding: 0.25em;
    text-align: center;
    font-weight: bold;
    border-radius: 20px;
    display: block;
}

.update_profile {
    color: white;
    background-color: #FF7400;
    padding: 0.5em;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    display: block;
    cursor: pointer;
    width: 100%;
    border: none;
}

#newpost:hover {
    background-color: #FF6363;
}

a {
    text-decoration: none;
}

.sortlinks {
    color: #FF0000;
    border: 2pt solid #C50000;
    padding: 0.25em 2.5em 0.25em 2.75em;
    text-align: center;
    font-weight: bold;
    border-radius: 20px;
    margin-right: 1em;
}

.sortlinks:hover {
    background-color: #C50000;
    color: white;
}

.rectangle {
    background-color: rgba(255, 203, 99, 0.25);
    padding: 0.5em;
 }

.emptyField {
    background-color: pink;
}

#left_form_section {    
    padding-right: 4em;
    float: left;
}

#right_form_section {    
    padding-right: 0em;
}

#form_message {
    font-style: italic;
    color: red;
}

.post_links {
    font-size: 0.8em;
    font-weight: bold;
    margin-right: 2em;
    margin-bottom: 0.75em;
}

.post_links a, a:link, a:active, a:visited {
    color: #FF7400;
}

.post_links:hover {
    color: #C50000;
}

li {
    margin-left: 2em;
}

.admin_article {
    padding: 1em;
    overflow: auto;
}

.basic_search {
    padding: 0.5em;
    display: flex;
}

.basic_searchField {
    width: 100%;
    border-radius: 3px;
    margin-right: 5px;
}

table {
    border-collapse: collapse;
    font-size: 0.8em;
    width: 100%;
}

th {
    background-color: #FF740090;
}

td, th {
    padding: 0.5em;
    border: 1px solid #C50000;
    white-space: nowrap;
}

.profile_pic {
    border: 3pt solid #FF7400;
    height: 150px;
    width: 150px;
}

.disable_button {
    background-color: red;
    border: 1pt solid red;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 0.7em;
}

.long_text_input {
    width: 99.2%;
}

#scratch_form {
    display: inline;
}

.message_activity {
    color: black;
    margin: 1em;
    white-space: nowrap;
}

#to_from_container {
    white-space: nowrap;
}

.to_from {
    padding: 0.5em;
    margin: 0.5em;
    margin-bottom: 2em;
    font-weight: bold;
}

.name_tag {
    font-weight: bold;
    display: flex;
    justify-content: center;
}